---
layout: category
title: Noticias
---

{% for post in site.posts %}
    {% if post.categories contains 'noticias' %}
	<div class="row">
		<div class="col-md-3">
			<span class="thumbnail img-category hidden-xs">
				<img src="{{ post.image }}" class="img-responsive" title="{{ post.title }}">
			</span>
		</div>
		<div class="col-md-9">
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<p><small>{{ post.date | date: "%A %d de %B, %Y" }}</small></p>
			{{ post.excerpt | strip_html | truncate:200 }}
			<p>
        		<a href="{{ post.url }}"><i class="fa fa-plus-square-o"></i> seguir leyendo</a>
      		</p>
		</div>
	</div>
	{% endif %}
{% endfor %}