    <div class="footer">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center">
            Movimiento por la Asamblea Constituyente
          </p>
        </div>
        <div class="col-md-4">
          <div class="social text-center">
            <ul class="list-inline">
              <li><a href="https://twitter.com/AConstituyenteC" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
              <li><a href="https://www.facebook.com/pages/Chile-Asamblea-Constituyente-para-una-Nueva-Constituci%C3%B3n/216490331396?fref=ts" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UC_kOhyrEJ_jf7ds6NnalMIg" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
            </ul>
          </div>

          <div class="extradata text-center">
            
          </div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            Todos los derechos reservados
          </p>
        </div>
      </div>
    </div>
