	<div class="footer">
      <div class="row">
        <div class="col-md-4">
          <div class="related">
            <ul class="nav-related">
              <li><a href="#">Lorem ipsum 01</a></li>
              <li><a href="#">Lorem ipsum 02</a></li>
              <li><a href="#">Lorem ipsum 03</a></li>
              <li><a href="#">Lorem ipsum 04</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="social text-center">
            <ul class="list-inline">
              <li><i class="fa fa-twitter fa-2x"></i></li>
              <li><i class="fa fa-facebook fa-2x"></i></li>
              <li><i class="fa fa-youtube fa-2x"></i></li>
            </ul>
          </div>

          <div class="extradata text-center">
            <ul class="list-inline">
              <li><a href="#">Mapa del sitio</a></li>
              <li><a href="#">Manifiesto</a></li>
              <li><a href="#">Lorem ipsum</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <p>
            Dirección #123<br> 
            Comuna, Región, Nación<br> 
            todos los derechos izquierdos
          </p>
        </div>
      </div>
    </div>