  <img src="//placehold.it/1170x200" class="img-responsive">
	<div id="nav">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Asamblea Constituyente</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/">Inicio</a></li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quienes somos <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/documentos_fundacionales">Documentos fundacionales</a></li>
                  <li><a href="/archivos_historicos">Archivos historicos</a></li>
                  <li><a href="/congresos">Congresos</a></li>
                  <li><a href="/porque-una-asamblea-constituyente.html">Porqué una Asamblea Constituyente</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actualidad <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/noticias">Noticias</a></li>
                  <li><a href="/articulos">Artículos</a></li>
                  <li><a href="/entrevistas">Entrevistas</a></li>
                  <li><a href="/declaraciones">Declaraciones</a></li>
                  <li><a href="/eventos">Eventos</a></li>
                  <li><a href="/internacional">Internacional</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Material didáctico <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/presentaciones">Presentaciones</a></li>
                  <li><a href="/documentos_explicativos">Documentos explicativos</a></li>
                  <li><a href="/volantes_informativos">Volantes e informativos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Material audiovisual <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="https://flickr.com/photos/asambleaconstituyentecl">Fotos</a></li>
                  <li><a href="https://youtube.com/asambleaconstituyentecl">Videos</a></li>
                  <li><a href="/prensa">Prensa</a></li>
                </ul>
              </li>
              <li class="movilizate">
                <a href="/movilizate_por_ac.html">Movilízate x AC</a>
              </li>
              <li><a href="/contacto.html">Contacto</a></li>
            </ul>
            
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div>