---
layout: category
title: Eventos
---

{% for post in site.posts %}
    {% if post.categories contains 'eventos' %}
	<div class="row">
		<div class="col-md-3">
			<span class="thumbnail img-category hidden-xs">
				<img src="{{ post.image }}" class="img-responsive" title="{{ post.title }}">
			</span>
		</div>
		<div class="col-md-9">
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			{{ post.excerpt | strip_html | truncate:200 }}
			<p>
        <a href="{{ post.url }}"><i class="fa fa-plus-square-o"></i> seguir leyendo</a>
      </p>
		</div>
	</div>
	{% endif %}
{% endfor %}