{% include header.html %}

  <div class="container">

    {% include main_navigation.html %}

    <div id="main" class="jumbotron">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          
          {% for post in site.posts %}

            {% if post.categories contains 'carrusel' %}
              <div class="item {% cycle 'active', '', '' %}">
                <div class="row">
                  <div class="col-md-2 hidden-xs">
                    <img src="{{ post.image }}" alt="{{ post.title }}" class="img-responsive" width="200" height="200">
                  </div>
                  <div class="col-md-10 col-xs-12">
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    {{ post.excerpt }}
                  </div>
                </div>
              </div>
            {% endif %}

          {% endfor %}

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>

    <div id="content">
      <div class="row">
        <div class="col-md-9">
          {{ content }}
        </div>
        <div class="col-md-3">
          {% include right_column.html %}
        </div>
      </div>
    </div>
    {% include banner_footer.html %}
  </div>

{% include footer.html %}